@font-face {
    font-family: 'oswald';
    src: local('oswald'), url(./fonts/Oswald-VariableFont_wght.ttf) format('truetype');
  }
.App{
    width: auto;
    height: auto;
}
.nav{
    display: block;
    position: sticky;
    background-color: #4d4d4d;
    width: auto;
    height: 50px;

}

.bt{
    padding-bottom: 5px;
    padding-top:11px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:#666666 ;
    display: inline;
    position: absolute;
    height: 100%;
    width:6.7%;
   

}

.bt p{
    color: #e6e6e6;
    font-family:oswald;
    font-weight: lighter;
    font-size: large;
    text-align: center;
    
}

.portfolio{
    right: 0%;
}

.gallery{
right: 6.8%;

}
.home{
 right:13.6% ;
}

.imgzone{
    position: absolute;
    width: 100%;
   

}

.imgzone img{
    position: absolute;
    left: 0%;
    width: 100%;
    height: auto;

}